<div class="navbar">
  <button mat-button [matMenuTriggerFor]="menu">
    <h1>Employee Dashboard</h1>
  </button>
  <mat-menu #menu="matMenu"> </mat-menu>
</div>

<div class="emp-data-container">
  <h1>Employee Dashboard</h1>
  <div class="container">
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="addPost()"
        class="add-btn"
        type="submit"
      >
        Add Employee
      </button>
    </div>
    <hr />
    <mat-card *ngFor="let post of posts; let i = index" class="emp-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title
            ><b>Employee ID: </b>{{ post.attributes.empId }}</mat-card-title
          >
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <b>Employee Name:</b> {{ post.attributes.empName }} <br />
        <b>Employee Email:</b> {{ post.attributes.empEmail }}
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="updatePost(post.id)"
          class="edit-btn"
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="deletePost(post.id)"
          class="delete-btn"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<style>
  .navbar {
    background-color: rgb(245, 242, 242);
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
  }

  .emp-data-container {
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 5px;
  }

  .add-btn {
    margin-bottom: 20px;
  }

  .emp-card {
    margin-top: 30px;
  }

  .edit-btn {
    margin-right: 50px;
    margin-left: 8px;
  }

  .delete-btn {
    margin-right: 50px;
  }
</style>
